.content {
    background-color: #ffffff;
    padding: 10px;
    line-height: 2;
    width: 400px;
    border: 1px solid #dedee1;
}
.item {
    color: #525259;
}

a {
    color: #525259;
    text-decoration: none;
    text-transform: uppercase;
}