.header_wrapper {
    height: 70px;
    background-color: #ffffff;
    margin-bottom: 50px;
    box-shadow: 0 0 5px 2px #babac5;
}

.header_body {
    max-width: 1920px;
    padding: 0 50px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 51px;
    width: 105px;
}

.theme_toggle {
    border: 1px solid #525259;
}