.content {
    background-color: #ffffff;
    padding: 15px;
    line-height: 2;
    width: 100%;
    border: 2px solid #dedee1;
    text-transform: uppercase;
}
.item a {
    color: #525259;
    text-decoration: none;
}

.item a.active {
    color: #6CC4EFFF;
}