.dialogs {
    background-color: #ffffff;
    color: #525259;
    max-height: 800px;
    height: 100%;
    width: 100%;
    padding: 15px;
    line-height: 2;
    border: 1px solid #dedee1;

    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items .active {
    color: #6CC4EFFF;
}